<section class="py-5" id="contactus">
  <div class="text-center title-font mt-5">
      <h2 style="color: #ED5224;">Contact <span style="color: #073B63;" >US</span></h2>
  </div>
<div class="container-fluid p-lg-0 mt-3">
  <div class="row g-0 align-items-center">
          <div class="col-lg-6">
      <div class="mt-5 mt-lg-0"><img alt="" class="img-fluid" src="./assets/images/home/contactus-removebg-preview.png"></div>
    </div>
    <div class="col-lg-6">
      <div class="col-lg-8 mx-auto">
        <p class="fs-5 body-font fw-bold text-center" style="color: #073B63;">leave us your info</p>
        <p class=" body-font  text-center" style="color: #073B63;">Fill the form and we will get back to you soon</p>
        <form>
          <div class="row">
            <div class="col-md-12">
              <div class="mb-3">
                <input class="form-control bg-light" placeholder="Your name" type="text">
              </div>
            </div>
            <div class="col-md-12">
              <div class="mb-3">
                <input class="form-control bg-light" placeholder="Your email" type="text">
              </div>
            </div>
            <div class="col-md-12">
              <div class="mb-3">
                <textarea class="form-control bg-light" placeholder="Your message" rows="4"></textarea>
              </div>
            </div>
            <div class="col-md-12 text-center">
              <div class="d-grid ">
                <button class="btn text-white " type="submit" style="background-color:#ED5224;">Send message</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>
</section>
