<div class="container" id="unique">
    <div class="row">
        <div class="col-12">
            <p class="fs-2 title-font text-center mt-5" style="color: #ED5224;" data-aos="fade-up" data-aos-duration="1000">{{"WHAT MAKES US UNIQUE" | translate}}</p>
            <p class="body-font body-color text-center lh-lg fw-light fs-6 fs-md-5 fs-lg-6 mt-3" data-aos="fade-up" data-aos-duration="1500">
                {{"uniqueP1_1"|translate}} 
                <span class="d-none d-md-inline"><wbr></span>,
                <br class="d-none d-md-inline">
                {{"uniqueP1_2"| translate}}
                <br class="d-none d-md-inline">
                {{"uniqueP1_3" |translate}}
            </p>
        </div>
    </div>

    <div class="row align-items-center mt-5">
        <div class="col-lg-6 col-md-12 unique-text" data-aos="fade-right" data-aos-duration="1500">
            <div class="vission mb-4">
                <p>
                    <i class="fa-regular fa-clone" style="color: #ED5224;"></i>
                    <span class="text-white title-font fs-4">{{"Vision"|translate}}</span>
                </p>
                <p class="m-3 body-color body-font fs-6">
                    {{"visiontext"|translate}}
                </p>
            </div>
            <div class="mission">
                <p>
                    <i class="fa-regular fa-clone" style="color: #ED5224;"></i>
                    <span class="text-white title-font fs-4">{{"Mission"|translate}}</span>
                </p>
                <p class="m-3 body-color body-font fs-6">
                    {{"missiontext"|translate}}
                </p>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 unique-photo mt-4 mt-lg-0 text-center text-lg-start" data-aos="fade-left" data-aos-duration="1500">
            <img src="../../../assets/images/home/unique.png" alt="what_makeus_us_unique" class="img-fluid">
        </div>
    </div>
</div>