<div class="container py-5 mt-6" id="references">
  <div class="text-center title-font mt-4">
      <h2 class="text-white"> OUR <span class="body-color" style="color: #ED5224;"> References</span></h2>
  </div>
  <div class=" container text-center text-white body-font fs-5 ps-5 pe-5 mt-4">
      Business Engines started many projects in the field of digital transformation
      to serve many important sectors across Egypt and MENA area.
  </div>
  <div class="row g-4 mt-5">
      <div class="col-12 col-md-3">
          <div class="card rectangular-card text-center shadow-sm">
              <div class="card-body">
                  <div class="ref-container mb-3 mx-auto">
                      <img src="./assets/images/home/digital-signature.png" alt="Card image">
                  </div>
                  <p class="card-text">Digital signature<br>transformation</p>
              </div>
          </div>
      </div>
      <div class="col-12 col-md-3">
          <div class="card rectangular-card text-center shadow-sm">
              <div class="card-body">
                  <div class="ref-container mb-3 mx-auto">
                      <img src="./assets/images/home/banking-system.png" alt="Card image">
                  </div>
                  <p class="card-text">Billing System<br> Transformation</p>
              </div>
          </div>
      </div>
      <div class="col-12 col-md-3">
          <div class="card text-center rectangular-card shadow-sm">
              <div class="card-body">
                  <div class="ref-container mb-3 mx-auto">
                      <img src="./assets/images/home/id-card.png" alt="Card image">
                  </div>
                  <p class="card-text">Students smart<br>cards for HOME</p>
              </div>
          </div>
      </div>
      <div class="col-12 col-md-3">
          <div class="card text-center rectangular-card shadow-sm">
              <div class="card-body">
                  <div class="ref-container mb-3 mx-auto">
                      <img src="./assets/images/home/agreement.png" alt="Card image">
                  </div>
                  <p class="card-text">Ministry of <br>finance</p>
              </div>
          </div>
      </div>
  </div>
</div>
