<div class="container-fluid my-5" id="footer">

  <footer class=" text-center text-lg-start text-primary border-bottom border-2 border-dark-subtle">
    <div class="container p-4">
      <div class="row my-4">
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">

          <div class="footer-logo">
            <img src="./assets/images/logo/logowhite.png" alt="" />
          </div>

        </div>

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-md-0">
          <p class="fs-5 mb-4 footer-header  ">About us</p>
          <p class="footer-element fs-6">
              About Business Engines was founded in 2021 to operate in Egypt to build value added solutions o the region market,
              our main business sector is fintech,
              integrating technology into the products of financial services firm to improve their use and delivery to consumers.
          </p>


        </div>

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0 ">
          <p class="fs-5 mb-4 footer-header ">Quick Links</p>

          <ul class="list-unstyled">
            <li class="mb-2">
              <a href="#!" class="footer-element ">Solutions</a>
            </li> <br>
            <li class="mb-2">
              <a href="#!" class="footer-element ">Refrences</a>
            </li> <br>
            <li class="mb-2">
              <a href="#!" class="footer-element ">Customers</a>
            </li> <br>
            <li class="mb-2">
              <a href="#!" class="footer-element ">Partners</a>
            </li>

          </ul>
        </div>

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <p class=" fs-5  mb-4 footer-header">Address</p>

          <ul class="list-unstyled">
            <li>
              <p class="footer-element"><i class="fas fa-map-marker-alt pe-2 footer-element "></i>
                  Business Engines Technology
                  OFFICE 508, 5TH FLOOR,
                  NEMAA BUILDING, 155 EMTEDAD
                  RAMSES ST. 6TH DISTRICT, NASER
                  CITY, Cairo, Egypt</p>
            </li>
            <li>
              <p class="footer-element"><i class="fas fa-phone-volume pe-2 footer-element"></i>+20 2 2598 7016</p>
            </li>
            <li>
              <a href="#" id="sendEmailLink" class="footer-element"><i class="fas fa-envelope pe-2 footer-element mb-0"></i>Info&#64;b-enignes.com

              </a>
            </li>

          </ul>
        </div>
      </div>
    </div>



  </footer>


</div>
