<div class="container trusted-by mt-2">
    <p class="text-start fs-5 body-font ms-4 " style="color: #517591;">trusted by :</p>
    <section class="customer-logos slider">
        <div class="slide"><img src="./assets/images/home/tru (1).png" alt="logo"></div>
        <div class="slide"><img src="./assets/images/home/tru (2).png" alt="logo"></div>
        <div class="slide"><img src="./assets/images/home/tru (3).png"alt="logo"></div>
        <div class="slide"><img src="./assets/images/home/tru (4).png" alt="logo"></div>
        <div class="slide"><img src="./assets/images/home/tru (5).png" alt="logo"></div>
        <div class="slide"><img src="./assets/images/home/tru (2).png" alt="logo"></div>

    </section>
</div>