<app-navbar></app-navbar>
<app-slider></app-slider>
<!-- <app-trusted-by></app-trusted-by> -->
<app-aboutus></app-aboutus>
<app-solutions></app-solutions>
<app-refrences></app-refrences>
<app-contact-us></app-contact-us>
<app-footer></app-footer>

<!-- <li class="nav-item dropdown ">
  <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button"
      data-bs-toggle="dropdown" aria-expanded="false">
      <img src="../../../assets/icons/Flag_of_the_United_Kingdom.svg.png" alt="Flag_of_the_United_Kingdom">

      English
  </a>
  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
      <li><a class="dropdown-item "  (click)="switchLang('en')">
              English</a></li>
      <li><a class="dropdown-item"  (click)="switchLang('ar')">Arabic</a></li>
      <li><a class="dropdown-item" >German</a></li>

  </ul>
</li>

<p>{{"TITLE" | translate}}</p> -->
