.circle-container {
  background-color: #ED5224;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 0 auto;
  box-shadow: -20px 5px 20px -1px rgba(234,227,210,1);

}

.circle-container img {
  max-width: 50%;
  max-height: 50%;
}
*{
  overflow: hidden;
}
